/*--------------------
Body
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(135deg, #917fb3, #2a2f4f);
}

.scene {
  position: absolute;
  width: 100%;
}
